html,
body,
:global(#root) {
  height: 100%;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navbar {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 4rem;
}

.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.cardLayout {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  height: 100%;
  background-color: #fff;
}
